# Virtual Environment
venv/

# Python bytecode
__pycache__/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
.pytest_cache/

# Translations
*.mo

# Distribution / packaging
dist/
build/
*.egg-info/

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Miscellaneous
.DS_Store
Thumbs.db
.env
